@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

.bg-night {
  background: linear-gradient(to bottom, #081127, #3e3d37);
}

.bg-stars {
  background: transparent url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  opacity: 0.8;
  animation: twinkle 4s linear infinite;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.9; }
  50% { opacity: 0.6; }
}


